[submodule "sa_auth"]
	path = sa_auth
	url = git@github.com:zchelalo/sa_auth.git
[submodule "sa_user"]
	path = sa_user
	url = git@github.com:zchelalo/sa_user.git
[submodule "sa_api_gateway"]
	path = sa_api_gateway
	url = git@github.com:zchelalo/sa_api_gateway.git
[submodule "sa_class_management"]
	path = sa_class_management
	url = git@github.com:zchelalo/sa_class_management.git
[submodule "sa_file_management"]
	path = sa_file_management
	url = git@github.com:zchelalo/sa_file_management.git
